<div class="flex flex-column" >

  <span class="text-lg bm-4">Registro</span>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Nombre de Usuario">
    <mat-icon>contact_mail</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="Nombre de Usuario">
    <mat-icon>badge</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input type="text" matInput placeholder="Nombre de Usuario">
    <mat-icon>person_add</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <div class="flex justify-content-end mt-5">
      <mat-icon>visibility_lock</mat-icon>
    </div>
    <input type="password" matInput placeholder="Contraseña">
    <mat-icon>vpn_key</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Verificar Contraseña</mat-label>
    <div class="flex justify-content-end mt-5">
      <mat-icon>visibility_lock</mat-icon>
    </div>
    <input type="password" matInput placeholder="Contraseña">
    <mat-icon>vpn_key</mat-icon>
  </mat-form-field>


  <button mat-button mat-flat-button color="primary">
    <mat-icon>save</mat-icon>
    Registrarse
  </button>

  <div class="flex justify-content-end mt-5">
    <a href="/auth/login">Tines una cuenta? Ingresa</a>
  </div>

</div>
